/* 
   Reseta o estilo padrão dos navegadores para garantir maior consistência 
   entre diferentes plataformas e navegadores.
*/

/* Remove espaços, margens e padding de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajusta fontes, tamanho, cor, etc. */
html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    color: #000;
    background: #fff;
}

/* Define que todos os elementos de bloco devem funcionar de forma consistente */
article,
aside,
footer,
header,
nav,
section,
main,
figure,
figcaption {
    display: block;
}

/* Remove bordas extras em formulários e botões nos diferentes navegadores */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    box-sizing: border-box;
}

/* Remove estilo padrão de listas */
ul,
ol {
    list-style: none;
}

/* Remove estilo padrão de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Reseta espaçamento entre tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove aspas automáticas em blockquotes e q */
blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

/* Remove sublinhado em textos de marcação */
ins {
    text-decoration: none;
}

/* Define como normal a formatação de sub e sup */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}